@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.Pagination {
    text-align: center;
    position: relative;
    padding-top: 3rem;

    &:before {
        content: '';
        display: block;
        height: 4px;
        width: 50px;
        background: $salmon;
        margin: 0 auto 2rem;
    }

    &.Pagination--slim {
        padding-top: 0;
        
        &:before {
            content: none;
        }
    }

    &-state {
        font-family: $sans-serif-font-family;

        .Pagination--slim & {
            color: $gray--medium;
            font-size: $small-font-size;
        }
    }

    &-list {
        display: flex;
        justify-content: center;
    }

    &-item {
        font-family: $sans-serif-font-family;

        & + .Pagination-item {
            margin-left: 1rem;
        }

        .is-inactive {
            pointer-events: none;
            opacity: .5;
        }
    }
}
