@mixin media($px) {
  @media screen and (min-width: $px) {
    @content;
  }
}

@mixin link() {
  color: $salmon;
  border-bottom: 2px solid $salmon;

  &:hover {
    color: $salmon--dark;
    border-color: $salmon--dark;
  }
}