@import 'variables.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: $sans-serif-font-family;
  color: $gray;
  letter-spacing: -.025em;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $sans-serif-font-family;
  line-height: normal;
  font-size: $base-font-size;
  font-weight: 700;
}

h1 {
  font-size: $large-font-size;
  margin: 0 0 3rem;
  text-align: left;
  line-height: 1.15;
  font-weight: 900;

  strong {
    font-weight: 900;
  }
  
  @include media($medium-screen) {
    font-size: $giant-font-size;
  }
}

h2 {
  font-size: $medium-font-size;
  font-weight: 900;
}

h3, h4, h5, h6 {
  font-size: $base-font-size-large;
  margin: 2rem 0;
}

h4 {
  font-size: $base-font-size-large;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

p,
span,
small,
code,
date,
li, 
blockquote {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

blockquote {
  display: block;
  margin: 3rem 0;
  padding: .75rem 0 2rem;
  border-top: 2px solid $gray--mediumLight;
  border-bottom: 2px solid $gray--mediumLight;
}

ol {
  padding-left: 2rem;
  
  li {
    padding-left: .5rem;
  }
}

strong {
  font-weight: 700;
}

small {
  word-break: break-word;
  line-height: normal;
  margin-top: .5rem;
  display: inline-block;
  font-family: $sans-serif-font-family;
  font-size: $small-font-size;
  color: $gray--medium;

  & + small {
    margin-left: .5rem;
  }
}

button {
  font-size: $base-font-size;
  cursor: pointer;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 1rem 1rem .75rem 1rem;
  background: none;

  &:hover {
    color: $salmon;
    border-color: $salmon;
  }
}

pre {
  margin: 0;
}

hr {
  border: 0;
  height: 2px;
  background: $gray--mediumLight;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td, th {
  font-size: $base-font-size;
  padding: 1rem;
  border: 2px solid $gray--mediumLight;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: $base-font-size !important;
}
