@import 'variables.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: $base-font-family;
  color: $gray;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  margin: 0;
  line-height: normal;
  font-size: $base-font-size;
}

h1 {
  font-size: $medium-font-size;
  margin: 0 0 3rem;
  text-align: left;
  line-height: 1.2;

  @include media($medium-screen) {
    font-size: $large-font-size;
  }

}

h2 {
  font-size: $medium-font-size;
}

h3, h4, h5, h6 {
  font-weight: normal;
  font-size: $medium-font-size;
  margin: 2rem 0;
}

h4 {
  font-size: $base-font-size-large;
  font-weight: 600;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $salmon;
  }
}

p {
  a {
    @include link;
  }
}

p,
span,
small,
code,
date,
li {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

strong {
  font-weight: 700;
}

small {
  font-family: $header-font-family;
  font-size: $small-font-size;
  color: $gray--medium;
}

button {
  text-transform: uppercase;
  font-size: $base-font-size;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 1rem 1rem .75rem 1rem;
  font-weight: 100;
  background: none;

  &:hover {
    color: $salmon;
    border-color: $salmon;
  }
}

pre {
  margin: 0;
}

hr {
  border: 0;
  height: 2px;
  background: $gray--mediumLight;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td, th {
  font-size: $base-font-size;
  padding: 1rem;
  border: 2px solid $gray--mediumLight;
}
