$white: #ffffff;
$gray: #2f2f2f;
$gray--medium: lighten($gray, 50%);
$gray--mediumLight: lighten($gray, 70%);
$gray--light: lighten($gray, 80%);
$salmon: #f76656;
$salmon--dark: darken($salmon, 25%);
$green: #4ECDC4;

$container-width: 800px;
$large-container-width: 1000px;
$font-display: swap;

$sans-serif-font-family: 'Rubik', sans-serif;
$sans-serif-font-family: 'Public Sans', sans-serif;

$base-line-height: 2.8rem;

$mobile-screen: 400px;
$small-screen: 600px;
$medium-screen: 900px;
$large-screen: 1200px;

$small-font-size: 1.6rem;
$base-font-size: 1.8rem;
$base-font-size-large: 2.05rem;
$medium-font-size: 2.5rem;
$large-font-size: 4rem;
$giant-font-size: 7rem;

$border-radius: 5px;
