@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.Hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.Hero-wrapper {
  & > div {
    margin-bottom: 2rem;
  }
}

.Hero-title {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 95%;
  text-align: left;
  margin-bottom: 0;
  max-width: 100%;

  @include media($mobile-screen) {
    font-size: 5rem;
  }

  @include media($small-screen) {
    font-size: 8rem;
  }

  @include media($medium-screen) {
    font-size: 12rem;
    line-height: 80%;
  }

  span {
    font-weight: 100;
    font-size: inherit;
    letter-spacing: 0;

    @include media($small-screen) {
      margin-right: -1rem;
    }
  }
}

.Hero-bottomWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media($medium-screen) {
    flex-wrap: nowrap;
  }
}

.Hero-subTitle {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
  font-size: $medium-font-size;
  line-height: 1;
  padding: .75rem .75rem .75rem 0;

  @include media($medium-screen) {
    padding: 1.5rem 1.5rem 1.5rem 0;
    font-size: 3rem;
  }

  span {
    position: relative;
    background: white;
    z-index: 1;
    padding: 0;
  }
}
