@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 100%;

  @include media($medium-screen) {
    padding: 5rem;
  }
}

.wrapper {
  max-width: $large-container-width;

  & > div {
    margin-bottom: 3rem;
  }
}

.title {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 10vw;
  max-width: 100%;
  font-weight: 400;

  @include media($medium-screen) {
    font-size: 6vw;
  }

  @include media($large-screen) {
    font-size: $meta-font-size;
  }

  span {
    font: inherit;
    display: inline-block;
  }
}

.bottomWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media($medium-screen) {
    flex-wrap: nowrap;
  }
}
