@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.bar {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;

    h1 {
        margin: 0 2rem 0 0;
        font-size: $medium-font-size;   

        @include media($medium-screen) {
            font-size: $giant-font-size;
        }
    }

    ul {
        margin-top: 1rem;
    }
    
    li {
        color: $gray--medium;
        font-size: $small-font-size;
        display: inline;
         
        & + li {
            margin-left: 1rem;

            &:before {
                content: '/';
                margin-right: 1rem;
            }
        }
    }

    &.stacked {
        flex-direction: column;
        align-items: start;
    }
}

.description {
    margin: -2.5rem 0 5rem;
}
