@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.HeaderBar {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    &--stacked {
        flex-direction: column;
        align-items: start;
    }

    h1 {
        margin: 0 2rem 0 0;
    }

    &-description {
        font-family: $header-font-family;
        margin: -2.5rem 0 5rem;

        * {
            font: inherit;
            font-size: $base-font-size;
        }
    }
    
    span {
        color: $gray--medium;
        font-family: $header-font-family;
        font-size: $small-font-size;
        display: block;
        margin-top: 1rem;
    }
}
