@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.Card {
  position: relative;

  & + &:not(.Card--inGrid) {
    margin-top: 7rem;

    &:before {
      content: '';
      display: block;
      background: $gray--mediumLight;
      height: 2px;
      width: 100%;
      position: absolute;
      top: -3.5em;
    }
  }
  
}

.Card-link {
  position: relative;
  display: inline-block;

  &:hover {
    path {
      fill: $salmon;
    }
  }
}

.Card-icon {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(calc(-50% - 4px));

  @include media($medium-screen) {
    display: block;
    left: -3rem;
  }

  svg {
    max-width: 100%;
    max-height: 100%;

    path {
      fill: $gray;
    }
  }
}

.Card-title {
  margin-bottom: 0;
}

.Card--inGrid {
  border: 3px solid $gray--mediumLight;
  border-radius: $border-radius;
  padding: 2rem;

  &:hover {
    border-color: $salmon;

    * {
      color: $salmon;
    }
  }
}
