@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.card {
  position: relative;

  & + .card {
    margin-top: 7rem;

    &:before {
      content: '';
      display: block;
      background: $gray--mediumLight;
      height: 2px;
      width: 100%;
      position: absolute;
      top: -3.5em;
    }
  }
}

.link {
  position: relative;
  display: inline-block;

  &:hover {
    path {
      fill: $salmon;
    }
  }
}

.icon {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(calc(-50% - 4px));

  @include media($medium-screen) {
    display: block;
    left: -3rem;
  }

  svg {
    max-width: 100%;
    max-height: 100%;

    path {
      fill: $gray;
    }
  }
}

.title {
  margin-bottom: 0;
  font-size: $base-font-size-large;

  @include media($medium-screen) {
    font-size: $medium-font-size;
  }
}
