@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.Footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

.Footer-copyright {
  font-family: $header-font-family;
}
