@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';
@import './menu.module.scss';

.nav {
  display: flex;
  align-items: center;
  position: relative;
  list-style: none;
  padding: 0;
  width: 100%;
}

.shade, 
.listWrapper {
  transition: all .15s ease-in-out;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .nav__landing & {
    position: relative;
  }
}

.shade {
  opacity: 0;
  background: rgba($gray, .95);

  .nav__landing & {
    display: none;
  }

  @include media($medium-screen) {
    display: none;
  }
}

.listWrapper {
  display: flex;
  justify-content: center;
  z-index: -1;

  .nav__landing & {
    z-index: 1;
  }

  @include media($medium-screen) {
    position: relative;
    background: none;
    z-index: 1;
    opacity: 1;
  }
}

.list {
  transition: all .15s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-100%);
  width: 100%;
  padding: 0 2rem;

  @include media($medium-screen) {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    transform: none;
    padding: 0;
  }

  .nav__landing & {
    transform: none;
  }

  .nav__landing & {
    padding: 0;
    justify-content: flex-start;
  }
}

.logo {
  flex: 1 0 auto;
  font-family: $sans-serif-font-family;
  font-size: $medium-font-size;
}

.item {
  display: block;

  &.isHome {
    @include media($medium-screen) {
      display: none;
    } 
  }

  & + & {
    margin: 1.5rem 0 0 0;

    @include media($medium-screen) {
      margin: 0 0 0 2rem;
    }
  }
}

.link {
  position: relative;
  color: $white;
  display: inline-block;
  font-size: 15vw;
  line-height: 1;
  font-weight: 800;

  &:hover {
    color: $white;
  }

  .nav__landing & {
    color: $gray;
    font-size: $medium-font-size;
    font-weight: normal;
  }

  @include media($medium-screen) {
    color: $gray;
    font-weight: normal;
    font-size: $base-font-size-large;

    &:hover {
      color: $salmon;
    }
  }
}
