@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.Banner {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    background: $green;
    padding: 2rem;

    &.is-absolute {
        position: absolute;
    }

    &-text {
        color: $white;
    }

    p {
        margin: 0;
    }

    &-cta {
        color: $white;
        border-color: $white;
        margin-left: 1rem;

        &:hover {
            color: $white;
            border-color: $white;
        }
    }
}