@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins.scss';

.Banner {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 0 1rem;

    @include media($small-screen) {
        height: 60px;
    }

    & + .Hero {
        height: calc(100vh - 90px);

        @include media($small-screen) {
            height: calc(100vh - 60px);
        }
    }

    &-text {
        color: $white;
    }

    p {
        margin: 0;
    }

    &-cta {
        color: $white;
        border-color: $white;
        margin-left: 1rem;

        &:hover {
            color: $white;
            border-color: $white;
        }
    }
}